<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="Reversal Manager" id="c84c1fd6-b9c3-4a52-8b48-70462d5c022a" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="077d19dd-58ec-4f19-8e69-faecc2a31559fileName">Reversal-Manager</con:setting>
    <con:setting id="c84c1fd6-b9c3-4a52-8b48-70462d5c022afileName">Reversal-Manager</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>