<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="fa7b94aa-6e16-4da1-bee2-0add14c2efae" activeEnvironment="Mia3" name="ABI V2 Tokens (NG)" lastOpened="2016-08-05T16:04:29.786Z" resourceRoot="" soapui-version="6.0.0" encryptionMode="Not encrypted" updated="2.5.0" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config">
  <con:settings/>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties/>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:reporting/>
  <con:environment id="afd73651-c265-450b-984e-50803ff5c72d" name="VA1">
    <con:service type="SOAP" name="BasicHttpBinding_Tokens">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://ww2.payment1.cenpos.net/2/tokens.asmx</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="fcf599c0-8332-44ae-beb4-a3e6918ea2a9" name="Mia1">
    <con:service type="SOAP" name="BasicHttpBinding_Tokens">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://ww2.cenpos.net/2/tokens.asmx</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="36b1c437-790b-4f6a-9782-12bfd75695f0" name="Mia2">
    <con:service type="SOAP" name="BasicHttpBinding_Tokens">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://ww3.cenpos.net/2/tokens.asmx</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="190d1fe4-7ac4-4043-b1b5-609060276e0a" name="Mia3">
    <con:service type="SOAP" name="BasicHttpBinding_Tokens">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://ww2.cenpos.net/2/tokens.asmx</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository/>
  <con:tags/>
</con:soapui-project>