<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="Modify Checks" id="cbc6ccc7-5ab2-40d6-811e-6fdb610d0c6e" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="cbc6ccc7-5ab2-40d6-811e-6fdb610d0c6efileName">Modify-Checks</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>