<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d636180b-5699-47d6-bc42-4555bc25e9ec" name="Access Manager" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d636180b-5699-47d6-bc42-4555bc25e9ecfileName">Access-Manager</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>