<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="Level III" id="9d6ca99c-cf2b-4711-b87c-f612aa09be67" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="9d6ca99c-cf2b-4711-b87c-f612aa09be67fileName">Level-III</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>