<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="Modify Cards" id="a4c05bb3-0a90-433c-911a-5ae92c78a598" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a4c05bb3-0a90-433c-911a-5ae92c78a598fileName">Modify-Cards</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>