<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="Force Manager" id="ff0f86ea-f4c7-42a5-b998-e42e78ce3ca0" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="82ac3a58-b3c6-4566-a20a-0d89348b30a0fileName">Force-Manager</con:setting>
    <con:setting id="ff0f86ea-f4c7-42a5-b998-e42e78ce3ca0fileName">Force-Manager</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>