<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="GetTrxRequest" id="675f9631-47a0-47b4-a19d-8a293411f13e" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="675f9631-47a0-47b4-a19d-8a293411f13efileName">GetTrxRequest</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>ReferenceNumber</con:name>
      <con:value>1600536931</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
</con:testSuite>