<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="Error Regression" id="61008e3e-ed7c-480d-a8aa-1c7c4865f36a" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="61008e3e-ed7c-480d-a8aa-1c7c4865f36afileName">Error-Regression</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>