<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="39d5f955-9edf-4acc-b31f-9d7ba2786625" name="CryptoToken Manager" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="39d5f955-9edf-4acc-b31f-9d7ba2786625fileName">CryptoToken-Manager</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>