<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="0b99899f-2fcb-4186-8c58-9cb065c4ec50" name="Regression" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="0b99899f-2fcb-4186-8c58-9cb065c4ec50fileName">Regression</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>