<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="7a58448a-0ab5-479e-ac87-b08a7d62e5ca" name="CryptoToken Manager" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="7a58448a-0ab5-479e-ac87-b08a7d62e5cafileName">CryptoToken-Manager</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>