<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="731f90ea-4134-4477-8f3c-4844eee5eaeb" name="Cash Manager" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="731f90ea-4134-4477-8f3c-4844eee5eaebfileName">Cash-Manager</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>