<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="aa90341b-c431-4824-b0fe-c813cf2b1110" name="DeleteAllTokens" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="aa90341b-c431-4824-b0fe-c813cf2b1110fileName">DeleteAllTokens</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>