<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="9cb0dd9c-44fd-4375-961e-8b964f0380a6" wsaVersion="NONE" name="EbppIntegrationServiceV4Soap12" type="wsdl" bindingName="{http://ebpp.cenpos.net/V4}EbppIntegrationServiceV4Soap12" soapVersion="1_2" anonymous="optional" definition="https://web.mia2.cenpos.net/ebppqa/v4/EbppIntegrationService.asmx?WSDL" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="9cb0dd9c-44fd-4375-961e-8b964f0380a6fileName">EbppIntegrationServiceV4Soap12</con:setting>
  </con:settings>
  <con:definitionCache/>
  <con:endpoints>
    <con:endpoint>https://web.mia2.cenpos.net/ebppqa/v4/EbppIntegrationService.asmx</con:endpoint>
  </con:endpoints>
</con:interface>