<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c27b2d2b-d3fe-4990-afec-6fcfb8cc1507" name="Password Validation" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c27b2d2b-d3fe-4990-afec-6fcfb8cc1507fileName">Password-Validation</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>