<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="Check" id="f7b08db5-4913-4733-ba8f-20573a7b30c7" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f7b08db5-4913-4733-ba8f-20573a7b30c7fileName">Check</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>