<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="a8ef7f35-1fc8-44f3-b242-f8588b501c29" wsaVersion="NONE" name="RecurringIntegrationServicesSoap12" type="wsdl" bindingName="{http://tempuri.org/}RecurringIntegrationServicesSoap12" soapVersion="1_2" anonymous="optional" definition="https://va2.cenpos.net/Recurringqa/RecurringIntegrationServices.asmx?WSDL" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a8ef7f35-1fc8-44f3-b242-f8588b501c29fileName">RecurringIntegrationServicesSoap12</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="https://va2.cenpos.net/Recurringqa/RecurringIntegrationServices.asmx?WSDL">
    <con:part>
      <con:url>https://va2.cenpos.net/Recurringqa/RecurringIntegrationServices.asmx?WSDL</con:url>
      <con:content><![CDATA[<wsdl:definitions targetNamespace="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddRecurringContract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addContractRequestVO" type="tns:AddRecurringContractRequestVO"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AddRecurringContractRequestVO">
        <s:complexContent mixed="false">
          <s:extension base="tns:RequestVO">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="StartDate" nillable="true" type="s:dateTime"/>
              <s:element minOccurs="1" maxOccurs="1" name="MaxRetry" type="s:int"/>
              <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string"/>
              <s:element minOccurs="1" maxOccurs="1" name="EndDate" nillable="true" type="s:dateTime"/>
              <s:element minOccurs="1" maxOccurs="1" name="NextBillDate" nillable="true" type="s:dateTime"/>
              <s:element minOccurs="1" maxOccurs="1" name="SubTotal" nillable="true" type="s:double"/>
              <s:element minOccurs="1" maxOccurs="1" name="Tax" nillable="true" type="s:double"/>
              <s:element minOccurs="0" maxOccurs="1" name="Frecuency" type="s:string"/>
              <s:element minOccurs="1" maxOccurs="1" name="PaymentQuote" type="s:int"/>
              <s:element minOccurs="0" maxOccurs="1" name="VariableInstallments" type="tns:ArrayOfFixedInstallmentVO"/>
              <s:element minOccurs="0" maxOccurs="1" name="Customer" type="tns:CustomerVO"/>
              <s:element minOccurs="0" maxOccurs="1" name="Cards" type="tns:ArrayOfCardVO"/>
              <s:element minOccurs="0" maxOccurs="1" name="Checks" type="tns:ArrayOfRecurringCheckVO"/>
              <s:element minOccurs="0" maxOccurs="1" name="ContractNumber" type="s:string"/>
              <s:element minOccurs="0" maxOccurs="1" name="PrincipalPaymentMethod" type="s:string"/>
              <s:element minOccurs="0" maxOccurs="1" name="SecondaryPaymentMethod" type="s:string"/>
              <s:element minOccurs="0" maxOccurs="1" name="DropDownSelection" type="s:string"/>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RequestVO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="MerchantId" type="s:int"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFixedInstallmentVO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FixedInstallmentVO" nillable="true" type="tns:FixedInstallmentVO"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="FixedInstallmentVO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PaymentDate" nillable="true" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="SubTotal" nillable="true" type="s:double"/>
          <s:element minOccurs="1" maxOccurs="1" name="Total" nillable="true" type="s:double"/>
          <s:element minOccurs="1" maxOccurs="1" name="Tax" nillable="true" type="s:double"/>
          <s:element minOccurs="0" maxOccurs="1" name="ExtraData" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="Billed" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="NextPayment" type="s:boolean"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerVO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExternalCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="EveningPhone" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="EmailAdress" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="MobilePhone" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="DayTimePhone" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="BillingAddress3" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="BillingAddress2" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="BillingAddress1" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Province" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCardVO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CardVO" nillable="true" type="tns:CardVO"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="CardVO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long"/>
          <s:element minOccurs="0" maxOccurs="1" name="BillingAddress1" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="BillingAddress2" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="BillingAddress3" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Province" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CardContractType" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ExpirationDate" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="NameOnCard" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="LastFourDigit" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="CreatedDate" nillable="true" type="s:dateTime"/>
          <s:element minOccurs="0" maxOccurs="1" name="LoadMode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CardVerficationNumber" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="RefenceNumber" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="UsePrincipalAddress" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerEmail" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRecurringCheckVO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RecurringCheckVO" nillable="true" type="tns:RecurringCheckVO"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="RecurringCheckVO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Aba" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CheckContractType" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="DateIssue" nillable="true" type="s:dateTime"/>
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="UsePrincipalAddress" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="1" name="CheckType" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long"/>
          <s:element minOccurs="0" maxOccurs="1" name="AccountType" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceNumber" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerCode" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="AddRecurringContractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddRecurringContractResult" type="tns:AddRecurringContractResultVO"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AddRecurringContractResultVO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Succeed" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="MessageId" type="s:long"/>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddRecurringContractSoapIn">
    <wsdl:part name="parameters" element="tns:AddRecurringContract"/>
  </wsdl:message>
  <wsdl:message name="AddRecurringContractSoapOut">
    <wsdl:part name="parameters" element="tns:AddRecurringContractResponse"/>
  </wsdl:message>
  <wsdl:portType name="RecurringIntegrationServicesSoap">
    <wsdl:operation name="AddRecurringContract">
      <wsdl:input message="tns:AddRecurringContractSoapIn"/>
      <wsdl:output message="tns:AddRecurringContractSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RecurringIntegrationServicesSoap" type="tns:RecurringIntegrationServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AddRecurringContract">
      <soap:operation soapAction="http://tempuri.org/AddRecurringContract" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RecurringIntegrationServicesSoap12" type="tns:RecurringIntegrationServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AddRecurringContract">
      <soap12:operation soapAction="http://tempuri.org/AddRecurringContract" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecurringIntegrationServices">
    <wsdl:port name="RecurringIntegrationServicesSoap" binding="tns:RecurringIntegrationServicesSoap">
      <soap:address location="https://va2.cenpos.net/Recurringqa/RecurringIntegrationServices.asmx"/>
    </wsdl:port>
    <wsdl:port name="RecurringIntegrationServicesSoap12" binding="tns:RecurringIntegrationServicesSoap12">
      <soap12:address location="https://va2.cenpos.net/Recurringqa/RecurringIntegrationServices.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>]]></con:content>
      <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints>
    <con:endpoint>https://va2.cenpos.net/Recurringqa/RecurringIntegrationServices.asmx</con:endpoint>
  </con:endpoints>
</con:interface>