<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="Override Manager" id="fdf62b85-6ec4-48a6-be7a-547215e85b8a" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="ba61b1e3-e8fd-4978-b719-b8666649b374fileName">Override-Manager</con:setting>
    <con:setting id="fdf62b85-6ec4-48a6-be7a-547215e85b8afileName">Override-Manager</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>