<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="7ce2d09b-7c75-45e4-a918-2ec4f6300b72" name="Token Manager" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="7ce2d09b-7c75-45e4-a918-2ec4f6300b72fileName">Token-Manager</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>