<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="Reversal Manager" id="077d19dd-58ec-4f19-8e69-faecc2a31559" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="077d19dd-58ec-4f19-8e69-faecc2a31559fileName">Reversal-Manager</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>