<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a5e811c2-3270-4504-95f6-b9891b95477d" name="TokenService2Soap TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a5e811c2-3270-4504-95f6-b9891b95477dfileName">TokenService2Soap-TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>