<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5495b6d8-0935-4d19-92d2-95c1bbf4e9fa" name="Regression" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5495b6d8-0935-4d19-92d2-95c1bbf4e9fafileName">Regression</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>