<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="4115ebd2-0c46-4044-a3b0-b6889e766832" name="Auths" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="4115ebd2-0c46-4044-a3b0-b6889e766832fileName">Auths</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>