<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f9f55776-cab6-4878-8bd8-5b1ed07fae00" name="Encryption Manager" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f9f55776-cab6-4878-8bd8-5b1ed07fae00fileName">Encryption-Manager</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>