<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="GetToken" id="a8697c1b-7e85-4efa-9617-5caa41ddefca" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a8697c1b-7e85-4efa-9617-5caa41ddefcafileName">GetToken</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>