<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="719f005c-5d37-4481-8881-16fe125d5dce" name="Transact" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="719f005c-5d37-4481-8881-16fe125d5dcefileName">Transact</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>