<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="Admin" id="4d21e27d-8649-4513-9b3b-85377e9e7a52" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="4d21e27d-8649-4513-9b3b-85377e9e7a52fileName">Admin</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>