<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="77bf8b81-8b50-428e-9f8b-4f4273d656ab" name="AddAchToken" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="77bf8b81-8b50-428e-9f8b-4f4273d656abfileName">AddAchToken</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>