<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="Regression Manager" id="86f85d6d-e1d7-4d6e-a738-353f2ab99b6e" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="86f85d6d-e1d7-4d6e-a738-353f2ab99b6efileName">Regression-Manager</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>