<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="Error Cases Manager" id="fda631c7-8fa3-4791-91e1-a450613d75c7" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="fda631c7-8fa3-4791-91e1-a450613d75c7fileName">Error-Cases-Manager</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>