<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="38f9b049-5386-4d9d-9f4c-a25e0cc69ee3" name="Exceptions Manager" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="38f9b049-5386-4d9d-9f4c-a25e0cc69ee3fileName">Exceptions-Manager</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>