<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="Level III Manager" id="756258b9-3a2e-4c0d-994b-b7df817287a6" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="756258b9-3a2e-4c0d-994b-b7df817287a6fileName">Level-III-Manager</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>