<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f51bbcc2-fcb9-4591-9e14-9e7b9a7b62ee" name="Regression" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f51bbcc2-fcb9-4591-9e14-9e7b9a7b62eefileName">Regression</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>