<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="af1bd94e-4e19-48a8-b3ac-dee8ab0e1149" name="Quick Regression (Duo)" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="af1bd94e-4e19-48a8-b3ac-dee8ab0e1149fileName">Quick-Regression-%28Duo%29</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>