<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9573276d-4be1-41e2-86e6-877498e1218b" name="Regression Manager" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="22041ef1-e3b1-4c13-ac34-5e896bd248e8fileName">Regression-Manager</con:setting>
    <con:setting id="9573276d-4be1-41e2-86e6-877498e1218bfileName">Regression-Manager</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>