<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="99f8fea1-f06c-42a4-a7c1-da29a1070231" name="Fleet Manager" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="99f8fea1-f06c-42a4-a7c1-da29a1070231fileName">Fleet-Manager</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>