<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="Copy of AddCardToken" id="52d824f4-6204-47b6-84e2-f804d6d07c5a" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="52d824f4-6204-47b6-84e2-f804d6d07c5afileName">Copy-of-AddCardToken</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>