<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9f9170b7-b53a-455c-8a9e-980c92bf1328" name="ManageTestTokens" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="9f9170b7-b53a-455c-8a9e-980c92bf1328fileName">ManageTestTokens</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>