<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="275115a6-f305-44c6-88cb-aa4b04224151" name="Regression Manager" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="275115a6-f305-44c6-88cb-aa4b04224151fileName">Regression-Manager</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>