<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="4e8e44d9-d2ca-4410-be2e-2de8a5b508a1" name="Tokens" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="4e8e44d9-d2ca-4410-be2e-2de8a5b508a1fileName">Tokens</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>