<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="Regression Manager" id="bd7f3ddf-23e3-446f-83dd-1b1d2e061542" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="bd7f3ddf-23e3-446f-83dd-1b1d2e061542fileName">Regression-Manager</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>