<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="Reports Manager" id="4da6b1ee-4b22-46eb-a501-54363963d1f3" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="4da6b1ee-4b22-46eb-a501-54363963d1f3fileName">Reports-Manager</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>