<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="Refund Manager" id="9a888da6-32da-46c7-8d12-54e1efbe130d" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="902fa082-8c32-458c-869e-092ccd0323fffileName">Refund-Manager</con:setting>
    <con:setting id="9a888da6-32da-46c7-8d12-54e1efbe130dfileName">Refund-Manager</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>