<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e8bff6eb-ff5d-46bb-a15e-be5008ccdd8e" name="Debit Manager" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e8bff6eb-ff5d-46bb-a15e-be5008ccdd8efileName">Debit-Manager</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>