<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="245bfa7a-b897-41d2-b68e-cf6d8a541c84" created="2.1.0" activeEnvironment="Default environment" name="SWP Endpoints" resourceRoot="" updated="2.7.0" encryptionMode="Not encrypted" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="245bfa7a-b897-41d2-b68e-cf6d8a541c84fileName">SWP Endpoints</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties/>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:authRepository/>
  <con:tags/>
</con:soapui-project>