<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="7ce89028-99c4-4669-b82c-322ce889cf9a" name="BU CSV Generator" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="7ce89028-99c4-4669-b82c-322ce889cf9afileName">BU-CSV-Generator</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>