<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="User Manager (Duo)" id="e5a49ce5-502d-4543-b210-111a64971605" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e5a49ce5-502d-4543-b210-111a64971605fileName">User-Manager-%28Duo%29</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>