<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="GetTrxRequest" id="81899a3d-1bca-401a-bbe8-7d331afe7579" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="81899a3d-1bca-401a-bbe8-7d331afe7579fileName">GetTrxRequest</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>ReferenceNumber</con:name>
      <con:value>1600536931</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
</con:testSuite>