<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="UseToken" id="118e1a4d-9a7e-454a-b012-575f9317ae67" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="118e1a4d-9a7e-454a-b012-575f9317ae67fileName">UseToken</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>