<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a29f2a8f-ee87-4bd9-96c8-34b1aae0b0a0" name="Duplicate Manager" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a29f2a8f-ee87-4bd9-96c8-34b1aae0b0a0fileName">Duplicate-Manager</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>