<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="Delete Checks" id="190650d3-df1a-473a-ae20-518117f2cb35" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="190650d3-df1a-473a-ae20-518117f2cb35fileName">Delete-Checks</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>