<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="GetTrxRequest" id="8b7ee14d-93f3-4877-b60d-ab95356a266c" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="8b7ee14d-93f3-4877-b60d-ab95356a266cfileName">GetTrxRequest</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>ReferenceNumber</con:name>
      <con:value>1600536931</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
</con:testSuite>