<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="b11a988d-d049-4ce2-bf91-58af451d97f6" activeEnvironment="Default environment" name="ABI V1 Tokens" resourceRoot="${projectDir}" soapui-version="6.0.0" abortOnError="false" runType="SEQUENTIAL" lastOpened="2016-08-17T16:27:33.081-04:00" updated="2.8.0" encryptionMode="Not encrypted" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b11a988d-d049-4ce2-bf91-58af451d97f6fileName">ABI V1 Tokens</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties/>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:sensitiveInformation/>
  <con:environment name="hub" id="beab0f59-3c9a-4006-9d2a-23f6cac37722">
    <con:service type="SOAP" name="BasicHttpBinding_Tokens">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword="">https://hub.cenpos.net/pfpQA/TokenService.asmx</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository/>
  <con:tags/>
</con:soapui-project>