<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="Level III Manager (Auto)" id="9a116aea-55d3-4732-9605-d8b4f97a79c4" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="9a116aea-55d3-4732-9605-d8b4f97a79c4fileName">Level-III-Manager-%28Auto%29</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>