<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="Delete Cards" id="35a01620-9654-42b7-900a-60ee9463db8b" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="35a01620-9654-42b7-900a-60ee9463db8bfileName">Delete-Cards</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>