<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="GetTrxRequest" id="eff0b865-ebdd-4576-b621-fa19de485338" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="eff0b865-ebdd-4576-b621-fa19de485338fileName">GetTrxRequest</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>ReferenceNumber</con:name>
      <con:value>1600536931</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
</con:testSuite>