<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d2d2d63c-c687-4d7a-afcd-749cf04b82ea" name="Tokens" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d2d2d63c-c687-4d7a-afcd-749cf04b82eafileName">Tokens</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>