<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="UseToken (Checks)" id="27eefd43-90d6-463c-a304-e53dde488ab8" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="27eefd43-90d6-463c-a304-e53dde488ab8fileName">UseToken-%28Checks%29</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>