<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="e5fa95be-d83f-4de1-96f1-d357bc9ffa1a" wsaVersion="NONE" name="TokenService3Soap12" type="wsdl" bindingName="{http://tempuri.org/}TokenService3Soap12" soapVersion="1_2" anonymous="optional" definition="https://hub.cenpos.net/v3/TokenService.asmx?wsdl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e5fa95be-d83f-4de1-96f1-d357bc9ffa1afileName">TokenService3Soap12</con:setting>
  </con:settings>
  <con:definitionCache/>
  <con:endpoints>
    <con:endpoint>https://hub.cenpos.net/v3/TokenService.asmx</con:endpoint>
  </con:endpoints>
</con:interface>