<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="6e8d2d31-636d-4523-88eb-16df30e0b138" activeEnvironment="Default environment" name="ABI V2 Token19" lastOpened="2016-08-05T16:04:29.351Z" resourceRoot="" soapui-version="6.0.0" updated="2.7.0" encryptionMode="Not encrypted" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6e8d2d31-636d-4523-88eb-16df30e0b138fileName">ABI V2 Token19</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties/>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:authRepository/>
  <con:tags/>
</con:soapui-project>